/* Telas acima de 1280px (full HD pra cima) */
@media (min-width: 1920px) {
    #sol img{
        top:50%;
    }
}

@media (orientation: landscape) and (max-width: 451px), (max-width: 451px) {
    html{
        font-size: 8px;
    }
    body{
        background: var(--primary-blue);
        gap: 100px;
    }
    
    #title{
        font-size: 25vw;
        top: 75px;
    }
    #title::before{
        font-size: 3.4vw;
    }
    #sol img{
        top: 32%;
    }
    #sol h1{
        font-size: 12rem;
        transform: translateY(-30%);
    }
}

@media (max-width: 350px) {
    body{
        gap: 200px;
    }
    #lingua{
        top: 15px;
        left: 10px;
    }
    #modo{
        top: 15px;
        right: 10px;
    }
    #sol h1{
        font-size: 9.5rem;
    }
}